<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yamigu.yamigu_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="야미구"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />
        <activity android:name=".TicketActivity"></activity>
        <activity android:name=".TermsActivity" />
        <activity android:name=".PrivacyActivity" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".AllianceListActivity" />
        <activity android:name=".FAQActivity" />
        <activity android:name=".GuideActivity" />
        <activity android:name=".WhatisYamiguActivity" />
        <activity android:name=".CertificationWActivity"></activity>
        <activity android:name=".CertificationUActivity"></activity>
        <activity
            android:name=".SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".VerificationActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".MainOnboardingActivity" />
        <activity android:name=".TicketOnboardingActivity" />
        <activity android:name=".SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MeetingApplicationActivity"></activity>
        <activity android:name=".MainActivity" />
    </application>

</manifest>