<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yamigu.yamigu_app">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".Activity.GlobalApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="야미구"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".Activity.ChattingActivity"></activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="@string/kakao_app_key" />

        <activity android:name=".Activity.TicketActivity" />
        <activity android:name=".Activity.TermsActivity" />
        <activity android:name=".Activity.PrivacyActivity" />
        <activity android:name=".Activity.SettingActivity" />
        <activity android:name=".Activity.AllianceListActivity" />
        <activity android:name=".Activity.FAQActivity" />
        <activity android:name=".Activity.GuideActivity" />
        <activity android:name=".Activity.WhatisYamiguActivity" />
        <activity android:name=".Activity.CertificationWActivity" />
        <activity android:name=".Activity.CertificationUActivity" />
        <activity
            android:name=".Activity.SignUpActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".Activity.VerificationActivity" />
        <activity android:name=".Activity.LoginActivity" />
        <activity android:name=".Activity.MainOnboardingActivity" />
        <activity android:name=".Activity.TicketOnboardingActivity" />
        <activity android:name=".Activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Activity.MeetingApplicationActivity" />
        <activity android:name=".Activity.MainActivity" />
    </application>

</manifest>